*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
html, body{
    height: 100%;
}

:root{
    --background : url('../assets/bg.png');
    --textColor : white;
    --bgColor: #472562;
    --bgDevice: url('../assets/device.png');
    --bgBtn1: #FF703D;
}

.clear{
    clear: both;
}

header{
    width: 100%;
    height: 90vh;
    padding: 40px 2%;
    
    background-image: var(--background);
    background-position: center;
    background-size: cover;
    font-weight: 300;
}
nav.menu-mob{
    display: none;
}
.container{
    width: 100%;
    height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    border: 1px solid red;
}
 
.logo{
    float: left;
    width: 160px;
    height: 60px;
    background-color: #ccc;
        
}
nav.menu-dsk{
    float: right;

}
nav.menu-dsk ul{
    list-style-type: none;
}
nav.menu-dsk li{
    float: left;
    padding: 0 20px;
}

nav.menu-dsk a{
    color: var(--textColor);    
    text-decoration: none;
}
nav.menu-mob{
    display: none;
}

.chamada1{
    max-width: 600px;
    float: right;
    margin: 140px 150px;

}

.chamada1 h2{
    font-size: 40px;
    color: var(--textColor);
    font-weight: 300;
    
}
.chamada1 p{
    font-size: 15px;
    color: var(--textColor);
    margin-top: 10px;
}

/*sessõa 1*/

section.sessao1{
    width: 100%;
    background-color: var(--bgColor);
    padding: 0 2%;
    height: 400px;
}
section.sessao1 .container{
    max-width: 1000px;
    height: calc(100% + 30px);
}
.text-sessao1{
    float: left;
    position: relative;
    left: 50px;
    width: 50%;
    color: var(--textColor);
    margin-top: 60px;
    
    
}
.text-sessao1 h2{
    font-size: 26px;
    font-weight: 300;
}
.text-sessao1 p{
    font-size: 15px;
    font-weight: 300;
    margin-top: 20px;

}
.text-sessao1 ul{
    list-style-position: inside;
    font-size: 15px;
}
.text-sessao1 ul li{
    float: left;
    width: 100%;
    margin-top: 8px;
}

.btn1{
    background-color: var(--bgBtn1);
    width: 165px;
    height: 44px;
    color: var(--textColor);
    cursor: pointer;
    text-align: center;
    margin-top: 30px;
    line-height: 44px;
    border-radius: 24px;
}
.device{
    float: left;
    width: 50%;
    font-size: 13px;
    height: 400px;
    position: relative;
    top: -40px;
    height: 100%;
    background-image: var(--bgDevice);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.sessao2 .container{
    padding-top: 60px;
    background-color: white;
    text-align: center;
}
.sessao2 h2{
    color: #472663;
    font-weight: 300;
}
.sessao2 p{
    margin-top: 30px;
    max-width: 900px;
    display: inline-block;
}
.sessao2 img{
    width: 1005;
    margin-top: 40px;
    position: relative;
    top: 100px;
}


/*Sessao 3*/

.sessao3{
    width: 100%;
}

.part1{
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
    background-color: #835fa7;
    color: white;
}
.wraper-part1{
    max-width: 400px;
    float: right;
    padding-right: 30px;
}
.part1 h2{
    font-weight: 300;
    font-style: italic;
    font-size: 23px;
}
.part1 p{
    font-size: 15px;
    line-height: 35px;
    margin-top: 10px;
}

.part2{
    float: left;
    width: 50%;
    padding: 140px 0 90px 0;
}
.titulo-autor{
    float: left;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid red;

}
.titulo-autor h2{
    float: left;
    padding-right: 20px;    
}
.img-autor{
    float: left;
    width: 40px;
    height: 40px;
    background-color: green;
    border-radius: 50%;
    position: relative;
    top: -1px;
    

}
.sobre-autor{
    float:left; 
    max-width: 600px;
    padding-left: 30px;
}
.titulo-autor h2{
    font-weight: 300;
    line-height: 40px;
}
div.texto-autor p{
    font-weight: 400;
    font-size: 14px;
    max-width: 450px;
}
.slider-bullets{
    width: 100%;
    float: left;
    padding-left: 30px;
    margin-top: 8px;
}
.slider-bullets span{
    float: left;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    margin-right: 8px;
    cursor: pointer;
    background-color: rgb(176, 160, 181);
}
span.bullet-active{
    background-color: rgb(117, 84, 126);
}

@media screen and (max-width: 768px){


    header{
        width: 100%;
        height: auto;
        min-height: 90vh;
        padding: 40px 2%;
    }

    nav.menu-dsk{
        display: none;

    }
    nav.menu-mob{
        display: block;
    }


    .chamada1{
        max-width: 500px;
        width: 100%;
        text-align: center;
        float: none;
        margin: 0 auto;
        margin-top: 100px;
        border: 1px solid red;
    
    }
    
    .chamada1 h2{
        font-size: 30px;
        padding: 0 10px;
        color: var(--textColor);
        font-weight: 300;
        
        
    }
    .chamada1 p{
        font-size: 15px;
        color: var(--textColor);
        margin-top: 10px;
    }
    */


    /*sessão 1*/
    .sessao1 .container{

        margin-top: 0;
        padding-top:0 ;
    }
    section.sessao1{
        padding: 40px 2%;
        height: auto;
        text-align: center;
        margin-top: 0;
    }    
    .text-sessao1{
        width: 100%;
        margin-top: 0;
        padding-left: 0;
        position: static;
        float: none;
        display: inline-block;
        border: 1px solid red;
    }
    .text-sessao1 ul{
        display: inline-block;
        margin-top: 20px;
    }
    .text-sessao1 ul li{
        float: none;
        text-align: left;
    }
    .btn1{
        display: inline-block;
    }
    .device{
        display: none;
    }
}